@media screen and (max-width:1100px) {
    .container{
        width: 96%;
    }       

    .owl-prev {           
        top: auto;
        left: 62px;           
        background-size: 30px;
        bottom: -66px;
    }
    .owl-next{
        top: auto;
        left: 110px;           
        background-size: 30px;
        bottom: -66px;
    }
    .exp-most h2  , .bring-effic h2 {
        font-size: 32px;
    }
    .exp-most h3 , .bring-effic h3 {
        font-size: 27px;
    }
    /* .expl {
        background: url(https://image.connect.canon.co.in/lib/fe3811737164047f711574/m/1/9b235c92-577b-4f43-8b37-7455c0d01e3a.png) left bottom no-repeat;
        clear: both;
        display: block;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 25px;
        margin-top: 31px;
        padding-left: 31px;
        background-size: 190px;
    } */
    .qoat {
        text-align: center;
        font-size: 28px;
        padding: 33px;
        position: relative;
    }
    .bdiv {
        height: 180px;
    }
    .banner .container h4, .inner-banner .container h4 {
        font-size: 32px;       
        line-height: 42px;
    }
    .c-txt {
        width: 550px;        
    }
    .grecaptcha-badge {
        z-index: 9991!important;      
    }
    footer {       
        position: relative;
        z-index: 9999;      
    }
}
@media screen and (max-width:800px) {
    .bring-effic:after{
        display: none;
    }
    .bring-effic{
        padding-top: 20px;
    }
    .offrening li {
        width: 38%;
        margin: 2%;
        align-self: center;
        vertical-align: middle;
    }
    .c-txt , .c-img {
        width: 48%;           
    }
    .bdiv {
        height: 155px;
    }
    .banner .container h4, .inner-banner .container h4 {
        font-size: 26px;
        line-height: 32px;
    }
    .qoat {
        text-align: center;
        font-size: 24px;
    }
    .exp-most h2, .bring-effic h2 {        
        padding-top: 0;
        font-size: 24px;
        max-width: 100%;
    }
    .exp-most,.bring-effic {       
        padding: 25px 50px;
        min-height: auto;
        text-align: center;
    }
    .exp-most {        
        padding-top: 150px;
    }
    .exp-most:after {       
        width: 200px;
        position: absolute;
        top: 15px;
        right: 0;
        background-size: 100% 100%;
        display: block;
        height: 140px;
    }
}
@media screen and (max-width:700px)
{
    .owl-carousel .owl-item img.res-show , .inner-banner img.show-res{
        display: block;
    }
    .owl-carousel .owl-item img.des-show , .inner-banner img.show-des{
        display: none;
    }
    .banner .container, .inner-banner .container {      
        top: auto;
        bottom: 0px;       
        transform: translateY(0);
        left: 0;
        background: #000;
        width: 100%;
        padding: 15px;
        height: 100px;
        display: flex;
        align-items: center;
    }
    .banner .container h4, .inner-banner .container h4 {
        font-size: 20px;
        line-height: 24px;
        text-align: left;       
    }
    .qoat {
        text-align: center;
        font-size: 17px;
        padding: 15px;
        position: relative;
        line-height: 24px;
    }
    .owl-next , .owl-prev{
        display: none;
    }
    .exp-most {
        position: relative;
        background: #000;
        padding: 120px 10px 35px;       
    }
    .exp-most h2, .bring-effic h2 {
        font-size: 25px;
    }
    .exp-most h3, .bring-effic h3 {
        font-size: 23px;
    }
    .exp-most {   
        min-height: inherit;
    }
    .logo {
        width: 120px;
        margin: 20px 0;
        float: right;
    }
    .bring-effic {
        padding: 0 10px 35px;
        background-size: 100%;
    }
    .exp-most h2, .bring-effic h2 {
        font-size: 18px;
        padding-top: 30px;
        line-height: 24px;
    }
    /* .start-btn {
        width: 45px;
        height: 135px;
        position: fixed;
        right: 0;
        bottom: 0;
        margin: auto;
        top: 0;
        cursor: pointer;
        z-index: 999;
    } */
    .startform li {
        border: 1px solid #fff;
        margin: 16px 0;
        padding: 1px 13px;
        border-radius: 6px;
    }
    .startform {
        width: 360px;
    }
    .complete-networ h4 {
        text-align: center;
        font-size: 24px;
        font-weight: normal;
        position: relative;
        margin-bottom: 65px;
        margin-top: 16px;
    }
    .c-txt , .content li:nth-child(even) .c-txt {
        width: 100%;
        order: 2;
    }
    .c-img {
        width: 78%;
        order: 1;
        margin-bottom: 30px;
        margin: 0 auto 30px;
    }
    .c-txt h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .bdiv {
        height: 155px;
        width: 50%;
        height: 160px
    }
    .complete-networ h4 {
        text-align: center;
        font-size: 20px;
    }
    .complete-networ h4:before , .complete-networ h4:after{
        display: none;
    }
    .flex-center {     
        justify-content: flex-start;
    }
    .thanks-page h3 {      
        font-size: 30px;
        margin: 10px 0;
        opacity: .8;
    }
    .thanks-page p {
        font-size: 17px;
        line-height: 26px;
    }
    .thanks-page a {
        font-size: 14px;
    }
    
}
@media screen and (max-width:639px){
    .offrening h3 {
        font-weight: normal;
        font-size: 22px;      
        margin-bottom: 15px;
        padding: 0 20px;
    }
    p.left, p.right {
        text-align: center;
        width: 100%;
    }
}
